# Binaries
cmd/shortener/main
cmd/shortener/shortener

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
.DS_Store

# vim swp
*.swp
*.swo

# files for save urls
URLs.log
